# Data Preprocessing

In [1]:
import pandas as pd

In [2]:
# Load the data
df_appearances = pd.read_csv("data/appearances.csv")
df_club_games = pd.read_csv("data/club_games.csv")
df_clubs = pd.read_csv("data/clubs.csv")
df_competitions = pd.read_csv("data/competitions.csv")
df_game_events = pd.read_csv("data/game_events.csv")
df_game_lineups = pd.read_csv("data/game_lineups.csv")
df_games = pd.read_csv("data/games.csv")
df_player_valuations = pd.read_csv("data/player_valuations.csv")
df_players = pd.read_csv("data/players.csv")
df_transfers = pd.read_csv("data/transfers.csv")

In [3]:
df_appearances.head()

,appearance_id,game_id,player_id,player_club_id,player_current_club_id,date,player_name,competition_id,yellow_cards,red_cards,goals,assists,minutes_played
0,2231978_38004,2231978,38004,853,235,2012-07-03,Aurélien Joachim,CLQ,0,0,2,0,90
1,2233748_79232,2233748,79232,8841,2698,2012-07-05,Ruslan Abyshov,ELQ,0,0,0,0,90
2,2234413_42792,2234413,42792,6251,465,2012-07-05,Sander Puri,ELQ,0,0,0,0,45
3,2234418_73333,2234418,73333,1274,6646,2012-07-05,Vegar Hedenstad,ELQ,0,0,0,0,90
4,2234421_122011,2234421,122011,195,3008,2012-07-05,Markus Henriksen,ELQ,0,0,0,1,90

In [4]:
df_club_games.head()

,game_id,club_id,own_goals,own_position,own_manager_name,opponent_id,opponent_goals,opponent_position,opponent_manager_name,hosting,is_win
0,2320450,1468.0,0.0,NaN,Holger Bachthaler,24.0,2.0,NaN,Armin Veh,Home,0
1,2320454,222.0,0.0,NaN,Volkan Uluc,79.0,2.0,NaN,Bruno Labbadia,Home,0
2,2320460,1.0,3.0,NaN,Jürgen Luginger,86.0,1.0,NaN,Robin Dutt,Home,1
3,2320472,2036.0,4.0,NaN,Frank Schmidt,72.0,5.0,NaN,Alexander Schmidt,Home,0
4,2321027,33.0,3.0,8.0,Jens Keller,41.0,3.0,9.0,Thorsten Fink,Home,0

In [5]:
df_clubs.head()

,club_id,club_code,name,domestic_competition_id,total_market_value,squad_size,average_age,foreigners_number,foreigners_percentage,national_team_players,stadium_name,stadium_seats,net_transfer_record,coach_name,last_season,filename,url
0,105,sv-darmstadt-98,SV Darmstadt 98,L1,NaN,27,25.6,13,48.1,1,Merck-Stadion am Böllenfalltor,17810,+€3.05m,NaN,2023,../data/raw/transfermarkt-scraper/2023/clubs.j...,https://www.transfermarkt.co.uk/sv-darmstadt-9...
1,11127,ural-ekaterinburg,Ural Yekaterinburg,RU1,NaN,30,26.5,11,36.7,3,Yekaterinburg Arena,23000,+€880k,NaN,2023,../data/raw/transfermarkt-scraper/2023/clubs.j...,https://www.transfermarkt.co.uk/ural-ekaterinb...
2,114,besiktas-istanbul,Beşiktaş Jimnastik Kulübü,TR1,NaN,30,26.5,15,50.0,8,Beşiktaş Park,42445,€-25.26m,NaN,2024,../data/raw/transfermarkt-scraper/2024/clubs.j...,https://www.transfermarkt.co.uk/besiktas-istan...
3,12,as-rom,Associazione Sportiva Roma,IT1,NaN,26,26.3,18,69.2,17,Olimpico di Roma,70634,€-76.90m,NaN,2024,../data/raw/transfermarkt-scraper/2024/clubs.j...,https://www.transfermarkt.co.uk/as-rom/startse...
4,148,tottenham-hotspur,Tottenham Hotspur Football Club,GB1,NaN,30,25.5,21,70.0,18,Tottenham Hotspur Stadium,62850,€-120.05m,NaN,2024,../data/raw/transfermarkt-scraper/2024/clubs.j...,https://www.transfermarkt.co.uk/tottenham-hots...

In [6]:
df_competitions.head()

,competition_id,competition_code,name,sub_type,type,country_id,country_name,domestic_league_code,confederation,url,is_major_national_league
0,CIT,italy-cup,italy-cup,domestic_cup,domestic_cup,75,Italy,IT1,europa,https://www.transfermarkt.co.uk/italy-cup/star...,False
1,NLSC,johan-cruijff-schaal,johan-cruijff-schaal,domestic_super_cup,other,122,Netherlands,NL1,europa,https://www.transfermarkt.co.uk/johan-cruijff-...,False
2,GRP,kypello-elladas,kypello-elladas,domestic_cup,domestic_cup,56,Greece,GR1,europa,https://www.transfermarkt.co.uk/kypello-ellada...,False
3,POSU,supertaca-candido-de-oliveira,supertaca-candido-de-oliveira,domestic_super_cup,other,136,Portugal,PO1,europa,https://www.transfermarkt.co.uk/supertaca-cand...,False
4,RUSS,russian-super-cup,russian-super-cup,domestic_super_cup,other,141,Russia,RU1,europa,https://www.transfermarkt.co.uk/russian-super-...,False

In [7]:
df_game_events.head()

,game_event_id,date,game_id,minute,type,club_id,player_id,description,player_in_id,player_assist_id
0,2f41da30c471492e7d4a984951671677,2012-08-05,2211607,77,Cards,610,4425,"1. Yellow card , Mass confrontation",NaN,NaN
1,a72f7186d132775f234d3e2f7bc0ed5b,2012-08-05,2211607,77,Cards,383,33210,"1. Yellow card , Mass confrontation",NaN,NaN
2,b2d721eaed4692a5c59a92323689ef18,2012-08-05,2211607,3,Goals,383,36500,", Header, 1. Tournament Goal Assist: , Corner,...",NaN,56416.0
3,aef768899cedac0c9a650980219075a2,2012-08-05,2211607,53,Goals,383,36500,", Right-footed shot, 2. Tournament Goal Assist...",NaN,146258.0
4,5d6d9533023057b6619ecd145a038bbe,2012-08-05,2211607,74,Substitutions,383,36500,", Not reported",49499.0,NaN

In [8]:
df_game_lineups.head()

,game_lineups_id,date,game_id,player_id,club_id,player_name,type,position,number,team_captain
0,b2dbe01c3656b06c8e23e9de714e26bb,2013-07-27,2317258,1443,610,Christian Poulsen,substitutes,Defensive Midfield,5,0
1,b50a3ec6d52fd1490aab42042ac4f738,2013-07-27,2317258,5017,610,Niklas Moisander,starting_lineup,Centre-Back,4,0
2,7d890e6d0ff8af84b065839966a0ec81,2013-07-27,2317258,9602,1090,Maarten Martens,substitutes,Left Winger,11,0
3,8c355268678b9bbc7084221b1f0fde36,2013-07-27,2317258,12282,610,Daley Blind,starting_lineup,Left-Back,17,0
4,76193074d549e5fdce4cdcbba0d66247,2013-07-27,2317258,25427,1090,Roy Beerens,starting_lineup,Right Winger,23,0

In [9]:
df_games.head()

,game_id,competition_id,season,round,date,home_club_id,away_club_id,home_club_goals,away_club_goals,home_club_position,...,stadium,attendance,referee,url,home_club_formation,away_club_formation,home_club_name,away_club_name,aggregate,competition_type
0,2321027,L1,2013,1. Matchday,2013-08-11,33.0,41.0,3.0,3.0,8.0,...,Veltins-Arena,61973.0,Manuel Gräfe,https://www.transfermarkt.co.uk/fc-schalke-04_...,4-2-3-1,4-2-3-1,FC Schalke 04,Hamburger SV,3:3,domestic_league
1,2321033,L1,2013,1. Matchday,2013-08-10,23.0,86.0,0.0,1.0,13.0,...,EINTRACHT-Stadion,23000.0,Deniz Aytekin,https://www.transfermarkt.co.uk/eintracht-brau...,4-3-2-1,4-3-1-2,Eintracht Braunschweig,Sportverein Werder Bremen von 1899,0:1,domestic_league
2,2321044,L1,2013,2. Matchday,2013-08-18,16.0,23.0,2.0,1.0,1.0,...,SIGNAL IDUNA PARK,80200.0,Peter Sippel,https://www.transfermarkt.co.uk/borussia-dortm...,4-2-3-1,4-3-2-1,Borussia Dortmund,Eintracht Braunschweig,2:1,domestic_league
3,2321060,L1,2013,3. Matchday,2013-08-25,23.0,24.0,0.0,2.0,18.0,...,EINTRACHT-Stadion,23325.0,Wolfgang Stark,https://www.transfermarkt.co.uk/eintracht-brau...,4-3-2-1,4-2-3-1,Eintracht Braunschweig,Eintracht Frankfurt Fußball AG,0:2,domestic_league
4,2321072,L1,2013,5. Matchday,2013-09-14,16.0,41.0,6.0,2.0,1.0,...,SIGNAL IDUNA PARK,80645.0,Tobias Welz,https://www.transfermarkt.co.uk/borussia-dortm...,4-2-3-1,3-5-2,Borussia Dortmund,Hamburger SV,6:2,domestic_league

In [10]:
df_player_valuations.head()

,player_id,date,market_value_in_eur,current_club_id,player_club_domestic_competition_id
0,405973,2000-01-20,150000,3057,BE1
1,342216,2001-07-20,100000,1241,SC1
2,3132,2003-12-09,400000,126,TR1
3,6893,2003-12-15,900000,984,GB1
4,10,2004-10-04,7000000,398,IT1

In [11]:
df_players.head()

,player_id,first_name,last_name,name,last_season,current_club_id,player_code,country_of_birth,city_of_birth,country_of_citizenship,...,foot,height_in_cm,contract_expiration_date,agent_name,image_url,url,current_club_domestic_competition_id,current_club_name,market_value_in_eur,highest_market_value_in_eur
0,10,Miroslav,Klose,Miroslav Klose,2015,398,miroslav-klose,Poland,Opole,Germany,...,right,184.0,NaN,ASBW Sport Marketing,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/miroslav-klose...,IT1,Società Sportiva Lazio S.p.A.,1000000.0,30000000.0
1,26,Roman,Weidenfeller,Roman Weidenfeller,2017,16,roman-weidenfeller,Germany,Diez,Germany,...,left,190.0,NaN,Neubauer 13 GmbH,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/roman-weidenfe...,L1,Borussia Dortmund,750000.0,8000000.0
2,65,Dimitar,Berbatov,Dimitar Berbatov,2015,1091,dimitar-berbatov,Bulgaria,Blagoevgrad,Bulgaria,...,NaN,NaN,NaN,CSKA-AS-23 Ltd.,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/dimitar-berbat...,GR1,Panthessalonikios Athlitikos Omilos Konstantin...,1000000.0,34500000.0
3,77,NaN,Lúcio,Lúcio,2012,506,lucio,Brazil,Brasília,Brazil,...,NaN,NaN,NaN,NaN,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/lucio/profil/s...,IT1,Juventus Football Club,200000.0,24500000.0
4,80,Tom,Starke,Tom Starke,2017,27,tom-starke,East Germany (GDR),Freital,Germany,...,right,194.0,NaN,IFM,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/tom-starke/pro...,L1,FC Bayern München,100000.0,3000000.0

In [12]:
df_transfers.head()

,player_id,transfer_date,transfer_season,from_club_id,to_club_id,from_club_name,to_club_name,transfer_fee,market_value_in_eur,player_name
0,16136,2026-07-01,26/27,417,123,OGC Nice,Retired,NaN,500000.0,Dante
1,1138758,2026-07-01,26/27,336,631,Sporting CP,Chelsea,52140000.0,30000000.0,Geovany Quenda
2,195778,2026-06-30,25/26,79,27,VfB Stuttgart,Bayern Munich,0.0,12000000.0,Alexander Nübel
3,569033,2026-06-30,25/26,39,27,1.FSV Mainz 05,Bayern Munich,0.0,4000000.0,Armindo Sieb
4,626913,2026-06-30,25/26,398,380,Lazio,Salernitana,0.0,15000000.0,Boulaye Dia

## Clubs Preprocessing

In [13]:
# Extract Year from date
df_player_valuations['date'] = pd.to_datetime(df_player_valuations['date'])
df_player_valuations['year'] = df_player_valuations['date'].dt.year

# Get the static club info
static_club_info = df_clubs[['club_id', 'name', 'domestic_competition_id', 'squad_size', 
                             'average_age', 'foreigners_number', 'foreigners_percentage', 
                             'national_team_players', 'stadium_name', 'stadium_seats', 
                             'net_transfer_record', 'coach_name', 'filename', 'url']]

# Get the highest market value of each player per year
max_player_valuations = df_player_valuations.groupby(['player_id', 'year'])['market_value_in_eur'].max().reset_index()

# Create a complete dataframe with all player-year combinations
all_years = pd.DataFrame({'year': range(df_player_valuations['year'].min(), df_player_valuations['year'].max() + 1)})
all_players = df_player_valuations[['player_id']].drop_duplicates()
player_years = all_players.merge(all_years, how='cross')  # Cartesian product to get all combinations

# Merge with max valuations and forward-fill missing values
player_valuations_filled = player_years.merge(max_player_valuations, on=['player_id', 'year'], how='left')
player_valuations_filled['market_value_in_eur'] = player_valuations_filled.groupby('player_id')['market_value_in_eur'].ffill()

# Merge back to get club information
df_max_valuations = df_player_valuations[['player_id', 'year', 'current_club_id']].drop_duplicates()
df_max_valuations = player_valuations_filled.merge(df_max_valuations, on=['player_id', 'year'], how='left')

# Sum player values per club per year
club_market_values = df_max_valuations.groupby(['current_club_id', 'year'])['market_value_in_eur'].sum().reset_index()

# Rename column
club_market_values.rename(columns={'market_value_in_eur': 'total_market_value'}, inplace=True)

# Merge with club names
club_market_values = club_market_values.merge(df_clubs[['club_id', 'name']], left_on='current_club_id', right_on='club_id', how='left')

# Drop redundant columns
club_market_values.drop(columns=['current_club_id', 'club_id'], inplace=True)

# Sort values
club_market_values.sort_values(by=['name', 'year'], inplace=True)

In [14]:
# Save the processed data to CSV files
static_club_info.to_csv("preprocessed_data/static_club_info.csv", index=False)
club_market_values.to_csv("preprocessed_data/club_market_value_over_time.csv", index=False)

In [15]:
df_player_valuations[(df_player_valuations['current_club_id'] == 418) &  (df_player_valuations['year'] == 2024)].head(100)

,player_id,date,market_value_in_eur,current_club_id,player_club_domestic_competition_id,year
476130,27992,2024-03-21,8000000,418,ES1,2024
476132,31909,2024-03-21,12000000,418,ES1,2024
476139,58884,2024-03-21,4000000,418,ES1,2024
476140,59016,2024-03-21,25000000,418,ES1,2024
476158,108390,2024-03-21,30000000,418,ES1,2024
...,...,...,...,...,...,...
494370,581678,2024-12-27,180000000,418,ES1,2024
494409,640428,2024-12-27,80000000,418,ES1,2024
494482,861410,2024-12-27,45000000,418,ES1,2024
494494,935245,2024-12-27,7500000,418,ES1,2024
494505,971570,2024-12-27,40000000,418,ES1,2024

In [23]:
club_market_values.head(50000)

      year  total_market_value                                  name
459   2004          10850000.0  1. Fußball- und Sportverein Mainz 05
460   2005          26800000.0  1. Fußball- und Sportverein Mainz 05
461   2006          26750000.0  1. Fußball- und Sportverein Mainz 05
462   2007          29950000.0  1. Fußball- und Sportverein Mainz 05
463   2008          40300000.0  1. Fußball- und Sportverein Mainz 05
...    ...                 ...                                   ...
3655  2021         115250000.0    Футбольный клуб "Локомотив" Москва
3656  2022         117425000.0    Футбольный клуб "Локомотив" Москва
3657  2023         126550000.0    Футбольный клуб "Локомотив" Москва
3658  2024         106650000.0    Футбольный клуб "Локомотив" Москва
3659  2025           9700000.0    Футбольный клуб "Локомотив" Москва

[8880 rows x 3 columns]

In [25]:
print(static_club_info['filename'][0])

../data/raw/transfermarkt-scraper/2023/clubs.json.gz